
	div.text {
		font-family: monospace;
		letter-spacing: 1px;
		font-size: 20px;
	}
	div.text span.extended {
		background-color: #f0f0f0;
	}
	div.page {
		font-family: "odt2braille 6 dot", 'odt2braille6dot embedded'; /*if odt2braille is not installed, use embedded font*/
		font-size: 26px;
	}
	@font-face {
		font-family:'odt2braille6dot embedded';
		src: url('fonts/odt2braille6.ttf') format('truetype');
	}
	p.page-header {
		text-align: left;
		margin: 5px 0px 0px 0px;
		padding: 70px 5px 5px 5px;
		/*background-color: yellow;*/
		font-family: sans-serif;
	}
	p.volume-header {
		text-align: right;
		margin: 0px;
		padding: 5px;
		
		font-family: sans-serif;
	}
	p.section-header {
		text-align: right;
		margin: 0px;
		padding: 5px;
		background-color: white;
		font-family: sans-serif;
	}
	
	div.page, div.text {
		margin: 0px;
		padding: 0px 20px 0px 20px;
		border: solid;
		border-bottom: solid;
		border-width: 1px;
		background-color: white;
	}
	table {
		border-spacing:0;
    	border-collapse:collapse;
	}
	div.text {
		position: absolute;
		top: 0px;
		visibility: visible;
		-moz-box-shadow: 10px 10px 5px #3060aa;
		-webkit-box-shadow: 10px 10px 5px #3060aa;
		box-shadow: 10px 10px 5px #3060aa;
		
	}
	div.page {
		visibility: hidden;
		-moz-box-shadow: 10px 10px 5px #3060aa;
		-webkit-box-shadow: 10px 10px 5px #3060aa;
		box-shadow: 10px 10px 5px #3060aa;
	}
	td {
		vertical-align: top;
		line-height: 100%;
		margin: 0px;
		padding: 0px;
		white-space: pre;
	}
	tr
	{
		margin: 0px;
		padding: 0px;
	}
	div.cont {
		margin-bottom: 10px;
		padding: 10px;
		/*width: 600px;*/
	}
	div.posrel {
		position: relative;
		padding-left: 20px;
	}
	.first {
		display: table;
	}
	.odd {
		display: inline-block;
	}
	.even {
		display: inline-block;
	}
	.odd div, .first div {
		border-left-color: silver;
		border-left-width: 10px;
	}
	.even div {
		border-right-color: silver;
		border-right-width: 10px;
	}
	.active {
		background-color: white;
	}
	div.section {
		padding: 0px;
		padding-top: 30px;
		margin-top: 5px;
		/* border: dashed;
		border-width: 1px;
		border-top-width: 1px;
		border-color: aqua; */
	}
	div.volume {
		padding: 0px;
		margin-top: 0px;
/*
		border: dashed;
		border-width: 1px;
		border-top-width: 1px;
		
		border-color: silver;*/
	}

	div#about {
		position: fixed;
		top: 8em;
		left: 40%;
		z-index: 1;
		visibility: hidden;
		background-color: silver;
		border-style: solid;
		border-width: 2px;
		border-color: white;
		min-width: 30em;
		padding: 0em 0em 3em 0em;
	}
	div#about-content {
		padding: 0em 2em 0em 2em;
	}
	p#close-bar {
		background-color: #3080dd;
		margin: 0px;
		font-weight: bold;
		text-align: right;
	}
	p#close-bar input {
		background-color: white;
		border: 0px;
	}
	
	div.label {
		border: solid;
		border-width: 2px;
		padding: 5px;
		margin: 5px;
		border-color: black;
		background-color: silver;
		width:0px;
	}
	div#navigate {
		padding: 0.5em;
		padding-left: 2em;
		margin:0em;
		background-color: rgba(230,230,230,0.9);
		width: 100%;
		font-family: sans-serif;
		font-weight: bold;
		
		border-bottom: 1px;
		border-bottom-style: solid;
		z-index: 10;
	}
	div#navigate ul {
		padding: 0em;
		margin: 0em;
		display: inline;
		
	}
	div#navigate ul li {
		padding-left: 8px;
		padding-right: 8px;
		list-style: none;
		display: inline;
		
	}
	div#navigate ul li ul li {
		padding: 5px;
	}
	.highlight {
		border-style: solid;
		border-width: 1px;
		padding: 5px;
		border-color: white;
		border-bottom-style: none;
		border-bottom-width: 0px;
		//background-color: white;
	}
	body {
		font-size: 14px;
		margin-top: 70px;
		margin-left: 0em;
		margin-right: 0em;
		margin-bottom: 0em;
		padding-bottom: 3em;
		font-family: sans-serif;
		background-color: rgb(101, 146, 205);
		background-image: url('images/line.jpg');
		background-repeat:repeat-x;
		background-attachment: fixed;
	}
	
a {
	font-weight: bold; 
	text-decoration: none;
	color: #3080dd;
}
	
	div#top-nav {
		position: fixed;
		top: 35px;
		left: 0em;
		border: 0em;
		margin: 0px;
		padding: 0px;
		width: 100%;
		background-color: rgba(230,230,230,0.9);
		border-bottom: 1px;
		border-bottom-style: solid;
		z-index: 10;
		background-repeat:repeat-y;
		background-attachment: fixed;
	}
	
	div#top-nav p, div#view p {
		margin: 0px;
		padding: 5px;
	}

	div#top-nav span, div#view span {
		margin-left: 1em;
		margin-top: 0px;
		border: 0px;
		padding-left: 1em;
	}
	
	div#view {
		width: 100%;
		height: 30px;
		position: fixed;
		top: 0px;
		left: 0px;
		background-color: rgba(230,230,230,0.9);
		border: 0px;
		padding: 0px;
		padding-top: 5px;
		margin: 0px;
		border-style: solid;
		font-weight: bold;
		z-index: 20;
	}
	
	select#volume-select {
		width: 180px;
		border-style: none;
		scroll-bar: red;
	}
	option {
		border-style: none;
	}