body {
	background-color: white;
	font-family: sans-serif;
	font-size: 14px;
	margin: 0em;
	padding: 0em;
	/*background-image:url('images/lgrey5.jpg');
	background-repeat:repeat;*/
}

div#main {
	/*
	border-style: solid;
	border-bottom-width: 2px;
	border-top-width: 1px;
	border-left-width: 1px;
	border-right-width: 2px;
	border-top-color: #dddddd;
	border-left-color: #aaaaaa;
	border-bottom-color: #707070;
	border-right-color: #606060;*/
	padding: 0.5em 2.5em 3em 2.5em;
	width: 30em;
	margin-top: 5em;
	/*margin-left: auto;
	margin-right: auto;*/
	margin-bottom: 5em;
	/*
	background-color: white;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
	*/
}

div#top-bar {
}
div#bottom-bar {

}
div#content {
	height: 23em; /* ie treats as min-height */
	min-height: 23em; /* ie ignores */ 
	margin-bottom: 1em;
}

*>div#content {
	height: auto; /* ie ignores child selector, modern browsers replace height declaration */
} 

a#close {
	float: right;
}

.overflow {
	padding: 0.5em;
	height: 17em;
	overflow: auto;
	border: solid;
	border-color: #3080dd;
	border-width: 1px;
}

h1 {
	color: #303030;
	font-size: 130%;
	border-bottom: solid;
	border-width: 1px;
	border-color: gray;
	padding: 0px;
}

h2 {
	font-size: 120%;
	color: #303030;
	font-weight: bold;
}

a {
	font-weight: bold; 
	text-decoration: none;
	color: #3080dd;
}
	

p {
	
}

dt {
	color: #404040;
	font-weight: bold; 
}

.warning {
	color: red;
}

p.desc {
	text-align: right;
	width: 100%;
	font-size: 0.8em;
	color: green;
}

.settingName {
	font-weight: bold;
	color: #404040;
}
#status {
	padding-right: 1em;
	float: right;
	position: relative;
}

#connected, #notConnected {
	position: absolute;
	left: 0px;
}
#notConnected {
	visibility: hidden;
}

img {
	border: none;
}
select, p.newPaper input[type='text'], p.find input[type='text'] {
	float: right;
	width: 18em;
}
span.length {
	float: right;
}
span.length select {
	width: 6em;	
}
span.length input {
	width: 3em;
	float: none;
	margin-right: 0.5em;
	height: 1.05em;
	float: clear;
}
	div#top-nav {
		position: fixed;
		top: 30px;
		left: 0em;
		border: 0em;
		margin: 0px;
		padding: 0px;
		width: 100%;
		background-color: rgba(230,230,230,0.9);
		border-bottom: 1px;
		border-bottom-style: solid;
		z-index: 10;
		background-repeat:repeat-y;
		background-attachment: fixed;
	}
	
	div#top-nav p, div#view p {
		margin: 0px;
		padding: 5px;
	}

	div#top-nav span, div#view span {
		margin-left: 1em;
		margin-top: 0px;
		border: 0px;
		padding-left: 1em;
	}

	div#view {
		width: 100%;
		height: 30px;
		position: fixed;
		top: 0px;
		left: 0px;
		background-color: rgba(230,230,230,0.9);
		border: 0px;
		padding: 0px;
		padding-top: 5px;
		margin: 0px;
		border-style: solid;
		font-weight: bold;
		z-index: 20;
	}
	
	#software-title {
		font-weight: bold;
		color: #808080;
		left: 30%;
		position: relative;
	}
div.group {
/*	margin-bottom: 1em;
	padding: 0.5em;
	border: solid 2px;
	border-color: #f0f0f0;*/
}
ul.fileChooser {
	list-style-type: none;
	margin: 0px;
	padding-left: 0px;
}
ul.fileChooser li.dir {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

ul.fileChooser li.file a {
	color: green;
}

div.dirSelect {
	white-space: nowrap;
	width: 45%;
	padding: 0.5em;
	margin-bottom: 2em;
	float: left;
	border-width: 1px;
	border-style: solid;
	border-color: #3080dd;
	overflow: scroll;
	height: 292px;
}

div.fileSelect {
	white-space: nowrap;
	width: 45%;
	padding: 0.5em;
	margin-bottom: 2em;
	float: right;
	border-width: 1px;
	border-style: solid;
	border-color: #3080dd;
	overflow: scroll;
	height: 292px;
}
div.findResult {
	white-space: nowrap;
	
	padding: 1.4em;
	/*
	width: 90%;
	overflow: scroll;
	border-width: 1px;
	border-style: solid;
	border-color: #3080dd;*/
	
}

div.findResult ul {
	margin: 0px;
	margin-left: 1em; 
	padding: 0px;
}
.menuItem {
	
}
.menuItem.active a {
	color: #808080;
}
.error {
	color: red;
}
div.path select {
	width: 27em;
}
div.path img {
	padding-left: 0.5em;
}