.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
}

#scrollLockButton {
	-fx-graphic: url('resource-files/unlock.png');
}

#scrollLockButton:selected {
	-fx-graphic: url('resource-files/lock.png');
}

#clearButton {
	-fx-graphic: url('resource-files/clear.png');
}

.tagmark {
    -fx-fill: gray;
}
.anytag {
    -fx-fill: crimson;
}
.paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}
.attribute {
    -fx-fill: darkviolet;
}
.avalue {
    -fx-fill: black;
}

.comment {
	-fx-fill: teal;
}

.pi {
	-fx-fill: green;
}

.entity {
	-fx-fill: lime;
}

.lineno {
	-fx-font-style: normal;
	-fx-background-color: #eee;
}