.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
}

#scrollLockButton {
	-fx-graphic: url('resource-files/unlock.png');
}

#scrollLockButton:selected {
	-fx-graphic: url('resource-files/lock.png');
}

#clearButton {
	-fx-graphic: url('resource-files/clear.png');
}

.tagmark {
    -fx-fill: dimgray;
}
.anytag {
    -fx-fill: blue;
}
.paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}
.attribute {
    -fx-fill: crimson;
}
.avalue {
    -fx-fill: darkorchid;
}

.comment {
	-fx-fill: green;
}

.pi {
	-fx-fill: teal;
}

.entity {
	-fx-fill: darkorange;
}

.lineno {
	-fx-font-style: normal;
	-fx-background-color: #eee;
}